h1 {
  text-color:pink;
}

#newBilltwenty {
  background-color:pink;
  font-color:white;
}

#newBillfifteen {
  background-color:pink;
  font-color:white;
}

#newBillten {
  background-color:pink;
  font-color:white;
}

p {
  text-align:center;
  text-decoration:underline;
}
